body{
background:#f4f4f4;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.container{
background:white;
padding:30px;
width:420px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
border-top:6px solid #c8102e;
}

.field{
margin-bottom:15px;
}

label{
font-weight:bold;
display:block;
margin-bottom:5px;
}

input,select,textarea{
width:100%;
padding:8px;
border-radius:5px;
border:1px solid #ccc;
}
.gender-row{
display:flex;
gap:40px;
align-items:center;
}

.gender-row label{
display:flex;
align-items:center;
gap:5px;
font-weight:normal;
}

button{
margin-top:10px;
padding:10px;
background:#c8102e;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
width:100%;
}

button:hover{
background:#a30d25;
}